<main class="flex">


<h1>All Dive Locations</h1>

<% for dive in @dives %>

<div class="dives">

<p><%=dive.location%></p>

<p><a href="/dives/<%=dive.id%>">View Location Details</a></p>
<p><a href="/dives/<%=dive.id%>/edit">Update Location Details</a></p>
<form action="/dives/<%=dive.id%>/delete" method="post">
<input type="submit" value="Delete Dive"/>
</form>
<hr>
</div>

<% end  %>

<nav>
  <ul>
    <li>
      <a href="/dives/new">Add New Location</a>
    </li>
  </ul>
</nav>
