<form action="/bookings/" method="post">

  <label for="name">Name of Dive Site:</label>
  <input
    type="text"
    name="location"
    id = "dive-name"
  />

<label for="difficulty-level">Select Difficulty Level:</label>
  <select name="difficulty" id="difficulty-leve">
    <option value="Easy">Easy</option>
    <option value="Advanced">Advanced</option>
    <option value="Challenging">Challenging</option>
  </select>

  <input type="submit" value="New Dive Site">
</form>
