<!DOCTYPE html>
<html>
  <head>
    <title>Be a Fish!</title>
  </head>
  <body>
    <main class="flex">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/divers">Divers</a>
          </li>
          <li>
            <a href="/dives">Dives & Locations</a>
          </li>
        </ul>
      </nav>
  <%=yield  %>
  </body>
</html>
